In [42]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [43]:
url = "http://quotes.toscrape.com/page/1/"

In [44]:
response = requests.get(url)

In [45]:
response = response.content

In [46]:
soup = BeautifulSoup(response,'html.parser')

In [47]:
div = soup.find('div')

In [48]:
quotes = soup.find_all('div',class_ = 'quote')

In [49]:
for sp in soup.find_all('div',class_ = 'quote'):
    
    quote = sp.find('span',class_ = 'text')
    author = sp.find('small').text

In [50]:
for tags in soup.find_all('a', class_ = 'tag'):
        tag.append(tags.text)

In [51]:
words = []

for pages in range(1,11):
    url = "http://quotes.toscrape.com/page/1/"
    response = requests.get(url)
    response = response.content
    soup = BeautifulSoup(response,'html.parser')
    div = soup.find('ol')
    quotes = soup.find_all('div',class_ = 'quote')
    
    
    for sp in soup.find_all('div',class_ = 'quote'):
        quote = sp.find('span',class_ = 'text')
        author = sp.find('small').text
        words.append([quote, author, ','.join(tags)])

In [52]:
df = pd.DataFrame(words,columns = ['Quote','Author','Tags'])

In [53]:
df

,Quote,Author,Tags
0,[“The world as we have created it is a process...,Albert Einstein,simile
1,"[“It is our choices, Harry, that show what we ...",J.K. Rowling,simile
2,[“There are only two ways to live your life. O...,Albert Einstein,simile
3,"[“The person, be it gentleman or lady, who has...",Jane Austen,simile
4,"[“Imperfection is beauty, madness is genius an...",Marilyn Monroe,simile
...,...,...,...
95,[“Try not to become a man of success. Rather b...,Albert Einstein,simile
96,[“It is better to be hated for what you are th...,André Gide,simile
97,"[“I have not failed. I've just found 10,000 wa...",Thomas A. Edison,simile
98,[“A woman is like a tea bag; you never know ho...,Eleanor Roosevelt,simile
99,"[“A day without sunshine is like, you know, ni...",Steve Martin,simile

In [54]:
df.to_csv('Assignment2.csv', index = False)